<app-header></app-header>
<app-breadcrumbs pageTitle="Student Registration"></app-breadcrumbs>
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Pricing</h2>
            <h3>Check our <span>Pricing</span></h3>
        </div>

        <div class="row" *ngIf="olympiadPriceData[0]">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Any One</h3>
                    <h4><sup>₹</sup>{{olympiadPriceData[0].discountedPrice}}<span class="striked-text">₹{{olympiadPriceData[0].actualPrice}}</span></h4>
                    <p class="capitalize">Participate in any one<br> of the four Olympiads<br> of your choice.</p>
                    <div class="btn-wrap">
                        <a class="btn-buy" (click)="scrollToFormSection()">Register Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Any Two</h3>
                    <h4><sup>₹</sup>{{olympiadPriceData[1].discountedPrice}}<span class="striked-text">₹{{olympiadPriceData[1].actualPrice}}</span></h4>
                    <p class="capitalize">Participate in any two<br> of the four Olympiads<br> of your choice.</p>
                    <div class="btn-wrap">
                        <a class="btn-buy" (click)="scrollToFormSection()">Register Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>Any Three</h3>
                    <h4><sup>₹</sup>{{olympiadPriceData[2].discountedPrice}}<span class="striked-text">₹{{olympiadPriceData[2].actualPrice}}</span></h4>
                    <p class="capitalize">Participate in any three<br> of the four Olympiads<br> of your choice.</p>
                    <div class="btn-wrap">
                        <a class="btn-buy" (click)="scrollToFormSection()">Register Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <span class="advanced">Advanced</span>
                    <h3>All</h3>
                    <h4><sup>₹</sup>{{olympiadPriceData[3].discountedPrice}}<span class="striked-text">₹{{olympiadPriceData[3].actualPrice}}</span></h4>
                    <p class="capitalize">Participate in all four<br> of the four Olympiads<br> at great price.</p>
                    <div class="btn-wrap">
                        <a class="btn-buy" (click)="scrollToFormSection()">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="student-form" class="form">
    <div class="container">
        <div class="section-title">
            <h2>Form</h2>
            <h3>Student Registration <span>Form</span></h3>
        </div>
        <div *ngIf="successAlert" class="alert alert-success" role="alert">
            The Form Has Been Submitted Successfully
        </div>
        <form class="row g-3" [formGroup]="studentForm" (ngSubmit)="onStudentFormSubmit()">
            <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="studentName">
                <small class="text-danger" *ngIf="!name?.valid && name?.touched">Please Enter Your Name</small>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <small class="text-danger" *ngIf="!email?.valid && email?.touched">Please Enter Valid Email Address</small>
            </div>
            <div class="col-12">
                <label for="state" class="form-label">Country</label>
                <select id="state" class="form-select" formControlName="country">
                    <option *ngFor="let item of countries">{{item}}</option>
                </select>
                <small class="text-danger" *ngIf="!country?.valid && country?.touched">Please Select Country</small>
            </div>
            <div class="col-12" *ngIf="!isIndia">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" formControlName="phone">
                <small class="text-danger" *ngIf="!phone?.valid && phone?.touched">Please Enter Valid Phone Number</small>
            </div>
            <div class="col-12" *ngIf="isIndia">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" formControlName="phoneIndia">
                <small class="text-danger" *ngIf="!phoneIndia?.valid && phoneIndia?.touched">Please Enter Valid 10 Digit Phone Number</small>
            </div>
            <div class="col-md-4">
                <label for="pincode" class="form-label">Pin Code</label>
                <input type="text" class="form-control" id="pincode" formControlName="pincode" (change)="getCityAndState()">
                <small class="text-danger" *ngIf="!pincode?.valid && pincode?.touched">Please Enter Valid Pincode</small>
            </div>
            <div class="col-md-4">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
                <small class="text-danger" *ngIf="!city?.valid && city?.touched">Please Enter City</small>
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" formControlName="state" readonly>
                <small class="text-danger" *ngIf="!state?.valid && state?.touched">Please Enter State</small>
            </div>
            <div class="col-12">
                <label for="">You're a:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="studentType" id="studentType1" value="School Student" formControlName="studentType" (change)="addTypeSchoolStudentField()">
                    <label class="form-check-label" for="studentType1">
                        School Student
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="studentType" id="studentType2" value="Other" formControlName="studentType" (change)="addTypeOtherField()">
                    <label class="form-check-label" for="studentType2">
                        Graduate / Undergraduate / Working Professional
                    </label>
                  </div>
            </div>
            <div [formGroup]="schoolStudentForm" *ngIf="typeSchoolStudent" class="form-inner-group">
                <div class="col-12">
                    <label for="referralCode" class="form-label">School Name</label>
                    <input type="text" class="form-control" id="referralCode" formControlName="schoolName">
                </div>
                <div class="col-12">
                    <label for="referralCode" class="form-label">School Address</label>
                    <input type="text" class="form-control" id="referralCode" formControlName="schoolAddress">
                </div>
                <div class="col-12">
                    <label for="referralCode" class="form-label">School Pincode</label>
                    <input type="text" class="form-control" id="referralCode" formControlName="schoolPincode">
                </div>
                <div class="col-12">
                    <label for="referralCode" class="form-label">School Phone No.</label>
                    <input type="text" class="form-control" id="referralCode" formControlName="schoolPhone">
                </div>
                <div class="col-12">
                    <label for="">Current Class</label>
                    <select id="state" class="form-select" formControlName="currentClass">
                        <option>3rd</option>
                        <option>4th</option>
                        <option>5th</option>
                        <option>6th</option>
                        <option>7th</option>
                        <option>8th</option>
                        <option>9th</option>
                        <option>10th</option>
                        <option>11th</option>
                        <option>12th</option>
                    </select>
                </div>
            </div>
            <div [formGroup]="otherTypeForm" *ngIf="typeOther" class="form-inner-group">
                <div class="col-12">
                    <label for="studentType" class="form-label">You're a:</label>
                    <select id="state" class="form-select" formControlName="otherType">
                        <option value="Student">Student</option>
                        <option>Working Professional</option>
                        <option>Aspirant</option>
                    </select>
                    <div [formGroup]="collegeStudentForm" *ngIf="typeCollegeStudent" class="form-inner-group">
                        <div class="col-12">
                            <label for="referralCode" class="form-label">College Name</label>
                            <input type="text" class="form-control" id="referralCode" formControlName="collegeName">
                        </div>
                        <div class="col-12">
                            <label for="referralCode" class="form-label">College Address</label>
                            <input type="text" class="form-control" id="referralCode" formControlName="collegeAddress">
                        </div>
                        <div class="col-12">
                            <label for="referralCode" class="form-label">College Pincode</label>
                            <input type="text" class="form-control" id="referralCode" formControlName="collegePincode">
                        </div>
                        <div class="col-12">
                            <label for="referralCode" class="form-label">College Phone No.</label>
                            <input type="text" class="form-control" id="referralCode" formControlName="collegePhone">
                        </div>
                        <div class="col-12">
                            <label for="">Current Year</label>
                            <select id="state" class="form-select" formControlName="currentYear">
                                <option>1st</option>
                                <option>2nd</option>
                                <option>3rd</option>
                                <option>4th</option>
                                <option>5th</option>
                                <option>6th</option>
                            </select>
                        </div>
                    </div>

                    <div [formGroup]="workingTypeForm" *ngIf="typeWorkingProsessional" class="form-inner-group">
                        <div class="col-12">
                            <label for="name" class="form-label">Organisation Name</label>
                            <input type="text" class="form-control" id="name" formControlName="organisationName">
                        </div>
                        <div class="col-12">
                            <label for="pincode" class="form-label">Organisation Address</label>
                            <input type="number" class="form-control" id="pincode" formControlName="organisationPincode">
                        </div>
                    </div>

                    <div [formGroup]="aspirantTypeForm" *ngIf="typeAspirant" class="form-inner-group">
                        <div class="col-12">
                            <label for="preparing" class="form-label">Preparing For</label>
                            <input type="text" class="form-control" id="preparing" formControlName="perparingFor">
                        </div>
                    </div>
                </div>
            </div>
            <div [formGroup]="activeOlympiadForm" class="col-12" *ngIf="typeSchoolStudent||typeOther">
                <label for="">Exam Options</label>
                <div class="form-check col-6" *ngFor="let item of activeOlympiads">
                    <input class="form-check-input" type="checkbox" value="{{item.toUpperCase()}}" name="{{item.toUpperCase()}}" [formControlName]="item">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{item.toUpperCase()}}
                    </label>
                </div>
            </div>
            <div class="col-12" *ngIf="typeSchoolStudent||typeOther">
                <label for="referralCode" class="form-label">Total</label>
                <input type="text" class="form-control" id="referralCode" value="{{totalAmount}}" readonly>
            </div>
            <div class="col-9" *ngIf="totalAmount>0">
                <label for="couponCode" class="form-label">Coupon Code</label>
                <input type="text" class="form-control" id="couponCode" formControlName="couponCode">
                <small class="text-danger" *ngIf="!referralCode?.valid && referralCode?.touched">Invalid Coupon Code</small>
            </div>
            <div class="col-3 col-apply-coupon" *ngIf="totalAmount>0" (click)="validateCouponCode($event)">
                <button class="btn btn-primary" [disabled]="discountApplied">Apply</button>
            </div>
            <div class="col-12" *ngIf="routeParam">
                <label for="referralCode" class="form-label">Referral Code</label>
                <input type="text" class="form-control" id="referralCode" formControlName="referralCode">
                <small class="text-danger" *ngIf="!referralCode?.valid && referralCode?.touched">Please Enter Valid Referral Code</small>
            </div>
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid">Sign in</button>
            </div>
        </form>
    </div>
</section>
<app-footer></app-footer>