<app-header></app-header>
<app-breadcrumbs pageTitle="Forgot Password"></app-breadcrumbs>
<section id="student-form" class="form">
    <div class="container">
        <div class="section-title">
            <h2>Form</h2>
            <h3>Forgot Password <span>Form</span></h3>
        </div>
        <div *ngIf="successAlert" class="alert alert-success" role="alert">
            A Password Reset Email Has Been Sent on your Email!
        </div>
        <div *ngIf="errorAlert" class="alert alert-danger" role="alert">
            Entered Email is Not Registered
        </div>
        <form class="row g-3" [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordFormSubmit()">
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <small class="text-danger" *ngIf="!email?.valid && email?.touched">Please Enter Valid Email Address</small>
            </div>
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
            </div>
        </form>
    </div>
</section>
<app-footer pageTitle="Forgot-Password"></app-footer>