<app-header></app-header>
<app-breadcrumbs pageTitle="Add Testimonial"></app-breadcrumbs>
<section id="institute-form" class="form">
    <div class="container">
        <div class="section-title">
            <h2>Form</h2>
            <h3>Testimonial <span>Form</span></h3>
        </div>
        <div *ngIf="successAlert" class="alert alert-success" role="alert">
            Your Review Has Been Submitted Successfully
        </div>
        <form class="row g-3" [formGroup]="testimonailForm" (ngSubmit)="onTestimonialFormSubmit()">
            <div class="col-12">
                <label for="name" class="form-label">Client Name</label>
                <input type="text" class="form-control" id="name" formControlName="clientName">
            </div>
            <div class="col-12">
                <label for="review" class="form-label">Review</label>
                <textarea name="review"  class="form-control" id="review" cols="30" rows="5" formControlName="review"></textarea>
            </div>
            <div class="col-12">
                <label for="rating">Rating</label>
                <select id="rating" class="form-select" formControlName="rating">
                    <option value="5">5 Star</option>
                    <option value="4">4 Star</option>
                    <option value="3">3 Start</option>
                    <option value="2">2 Star</option>
                    <option value="1">1 Star</option>
                </select>
            </div>
            <div class="col-12">
                <label for="reviewerType">Type</label>
                <select id="reviewerType" class="form-select" formControlName="reviewerType">
                    <option>Teacher</option>
                    <option>Student</option>
                    <option>Principal</option>
                    <option>Parent</option>
                </select>
            </div>
            <div class="col-12">
                <label for="reviewCategory">Category</label>
                  <div class="form-check" *ngIf="reviewerTypeStudent">
                    <input class="form-check-input" type="checkbox" value="SISO" id="flexCheckDefault" formControlName="siso">
                    <label class="form-check-label" for="flexCheckDefault">
                      SISO
                    </label>
                  </div>
                  <div class="form-check" *ngIf="reviewerTypeStudent">
                    <input class="form-check-input" type="checkbox" value="SIMO" id="flexCheckChecked" formControlName="simo">
                    <label class="form-check-label" for="flexCheckChecked">
                      SIMO
                    </label>
                  </div>
                  <div class="form-check" *ngIf="reviewerTypeStudent">
                    <input class="form-check-input" type="checkbox" value="SICO" id="flexCheckChecked" formControlName="sico">
                    <label class="form-check-label" for="flexCheckChecked">
                      SICO
                    </label>
                  </div>
                  <div class="form-check" *ngIf="reviewerTypeStudent">
                    <input class="form-check-input" type="checkbox" value="SIEO" id="flexCheckChecked" formControlName="sieo">
                    <label class="form-check-label" for="flexCheckChecked">
                      SIEO
                    </label>
                  </div>
                  <div class="form-check" *ngIf="reviewerTypeOther">
                    <input class="form-check-input" type="checkbox" value="GRADS" id="flexCheckChecked" formControlName="grads">
                    <label class="form-check-label" for="flexCheckChecked">
                      GRADS
                    </label>
                  </div>
                  <div class="form-check" *ngIf="reviewerTypeOther">
                    <input class="form-check-input" type="checkbox" value="FINANCE" id="flexCheckChecked" formControlName="finance">
                    <label class="form-check-label" for="flexCheckChecked">
                      FINANCE
                    </label>
                  </div>
            </div>
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="!testimonailForm.valid">Sign in</button>
            </div>
        </form>
    </div>
</section>
<app-footer pageTitle="add-testimonial"></app-footer>