<app-header></app-header>
<app-breadcrumbs pageTitle="Thank You"></app-breadcrumbs>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <span class="success-alert"><i class='bx bx-badge-check'></i></span>
            <h3>Thank You For <span>Registering.</span></h3>
            <p>You have been Successfully registered for the Olympiad.</p>
            <p>You will receive an Email and a Text Message regarding details of the Olympiad Shortly.<br> Also, please follow us on <a href="https://www.facebook.com/sfoly/" target="_blank">Facebook</a> and <a href="https://www.instagram.com/sfolym/" target="_blank">Instagram</a> to keep yourself updated.</p>
        </div>
    </div>
</section>
<app-footer></app-footer>