<app-header></app-header>
<app-breadcrumbs pageTitle="Thank You"></app-breadcrumbs>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <span class="success-alert"><i class='bx bx-badge-check'></i></span>
            <h3>Your Form Has Been <span>Submitted Successfully</span></h3>
            <p>You'll also get a comfirmation email on your registered Email Address.</p>
        </div>
    </div>
</section>
<app-footer></app-footer>