<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>Join Our Newsletter</h4>
                    <p>Get the Olympiad updates and much more right in your inbox.</p>
                    <form [formGroup]="newsletterForm" (ngSubmit)="onNewsLetterFormSubmit()" *ngIf="!newsletterSubmited">
                        <div class="newsletter">
                            <input type="text" name="name" placeholder="Name (Optional)" formControlName="name">
                            <input type="email" name="email" placeholder="Email" formControlName="email">
                        </div>
                        <input type="submit" value="Subscribe" [disabled]="!newsletterForm.valid">
                    </form>
                    <div *ngIf="newsletterSubmited" class="alert alert-success" role="alert">
                        Thank You! Your response has been submitted.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Springfield Olympiads<span>.</span></h3>
                    <p>
                        Springfield Olympiads is an Educational Organization popularizing academic competition and assisting the development of competitive spirit among learners.<br>
                        <strong>WhatsApp:</strong> <a href="https://api.whatsapp.com/send?phone=916230345161" target="_blank"> +91-6230345161</a><br>
                        <strong>Email:</strong> <a href="mailto:info@sfoly.com"> info@sfoly.com</a><br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/home']">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/about']">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/student-registration']">Student Registration</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/institute-registration']">Institute Registration</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/faqs']">FAQ's</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/contact']">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Olympiads</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/siso']">SISO</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/simo']">SIMO</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/sieo']">SIEO</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/sico']">SICO</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/grads-olympiad']">Grads Olympiad</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a [routerLink]="['/olympiad/finance-olympiad']">Finance Olympiad</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Social Networks</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/sfoly/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="https://in.linkedin.com/company/sfoly" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        <a href="https://www.instagram.com/sfolym/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Springfield Olympiads</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <img class="iso" src="/assets/img/iso.png" alt="">
            <img src="/assets/img/payment.svg" alt="">
        </div>
    </div>
</footer><!-- End Footer -->
<a href="/{{pageTitle}}#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>