  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:info@sfoly.com">info@sfoly.com</a></i>
        <!-- <i class="bx bxl-whatsapp d-flex align-items-center ms-4"><a href="tel:6230345161"><span>+91 62303 45161</span></a></i> -->
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://www.facebook.com/sfoly/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://in.linkedin.com/company/sfoly" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/sfolym/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a [routerLink]="['']"><img src="/assets/img/logo.svg" alt=""> Springfield Olympiads<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile' : navBarToggle}">
        <ul>
          <li><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
          <li><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
          <li class="dropdown" (click)="dropDownToggleOnClick($event)"><a class="dropdownToggle"><span>Olympiads</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a [routerLink]="['/olympiad/siso']" (click)="closeMobileNav()">SISO</a></li>
              <li><a [routerLink]="['/olympiad/simo']" (click)="closeMobileNav()">SIMO</a></li>
              <li><a routerLink="/olympiad/sieo" (click)="closeMobileNav()">SIEO</a></li>
              <li><a routerLink="/olympiad/sico" (click)="closeMobileNav()">SICO</a></li>
              <li><a routerLink="/olympiad/grads-olympiad" (click)="closeMobileNav()">Grads Olympiad</a></li>
              <li><a [routerLink]="['/olympiad/finance-olympiad']" (click)="closeMobileNav()">Finance Olympiad</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/faqs']" routerLinkActive="active" >FAQ's</a></li>
          <li class="dropdown" (click)="dropDownToggleOnClick($event)"><a class="dropdownToggle"><span>Register</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a [routerLink]="['/student-registration']">Student Registration</a></li>
              <li><a [routerLink]="['/institute-registration']">Institute Registration</a></li>
              <li><a [routerLink]="['/coordinator-registration']">Coordinator Registration</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/contact']" routerLinkActive="active" >Contact Us</a></li>
          <li><a class="nav-link scrollto " [routerLink]="['/institute-login']" routerLinkActive="active">Institute Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" (click)="navToggleOnClick()" [ngClass]="{'bi-x' : navBarToggle}"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->