<app-header></app-header>
<app-breadcrumbs pageTitle={{pageTitle}}></app-breadcrumbs>
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>About <span>Springfield Olympiads</span></h3>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                data-aos-delay="100">
                <p class="fst-italic">
                    We, at Springfield Olympiads, provide one of the best Olympiad solutions for students and working
                    professionals and students. Springfield Olympiads is an Educational Organization popularizing
                    academic
                    competition and assisting the development of competitive spirit among learners.
                </p>
                <ul>
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Register as an Institute</h5>
                            <p>Want to give a headstart to the students of your institute by providing them an exciting
                                platform to
                                test their knowledge and skills. Then, get your Institute registered with us now!</p>
                            <i class="bx bx-images"></i>2000+ Registered Institutes<br>
                            <i class="bx bx-images"></i>2000+ Registered Institutes
                        </div>
                    </li>
                    <li>
                        <i class="bx bx-images"></i>
                        <div>
                            <h5>Register as a Coordinator</h5>
                            <p>Grab the opportunity and get a chance to work in the education sector with one of the
                                renowned
                                education service providers with the option to work full time or part time. Work as a
                                mediator between
                                education institutes and us and Earn a handsome amount of money by working at your
                                convenience. Top
                                coordinators will be given to work as full-time employees with good pay.</p>
                            <i class="bx bx-images"></i>150+ registered Coordinators
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<app-footer pageTitle={{pageTitle}}></app-footer>