<app-header></app-header>
<app-breadcrumbs pageTitle={{pageTitle}}></app-breadcrumbs>
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>About <span>Springfield Olympiads</span></h3>
        </div>

        <div class="row">
            <div class="col-lg-5 offset-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center align-item-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Our Mission</h3>
                <p>Provide the bright minds with a competitive platform in order to prove their mettle.</p>
                <p>To provide a veritable forum for the qualitative dissemination of information and knowledge on the
                    newest advances in science and technology, humanities, sports etc.</p>
                <p>Conducting workshops, interactive seminars and conducting Olympiads and publication of informative,
                    non-curriculum study material for all students.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-1 pt-4 pt-lg-0 content d-flex flex-column justify-content-center align-item-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Our Vision</h3>
                <p>As an Educational Organization our aim is to build a competitive spirit along with a focus on
                    developing healthy academic competition among students.</p>
                <p>To bring a concerning shift within the approach to education and preparation for competitive programs
                    by providing several innovative programmes for all students.</p>
                <p>To bring about a steady and speedy change in the very way education is currently imparted in the
                    country.</p>
            </div>
            <div class="col-lg-5" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 offset-1" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center align-item-center"
                data-aos="fade-up" data-aos-delay="100">
                <h3>Our Values</h3>
                <p>Stimulate healthy competitive spirit with the help of reward based contests and olympiads.</p>
                <p>Promote student's participation in national/international programmes and events.</p>
                <p>Establish a more interactive and practical approach to science and IT in the classroom.</p>
                <p>Propagate knowledge and understanding of the latest developments in science and technology.</p>
                <p>Function as a Centre of Excellence in the fields of methodical research, new educational tools,
                    special publications and expert advice for different schooling institutions.</p>
            </div>
        </div>

    </div>
</section>
<app-footer pageTitle={{pageTitle}}></app-footer>