<app-header></app-header>
<app-hero-section></app-hero-section>

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Olympiads</h2>
        <h3>Our Olympiads</h3>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a [routerLink]="['/olympiad/siso']">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">SISO</h4>
              <p class="description">The Springfield International Science Olympiad (SISO), a test of competence and
                knowledge in the subject of Science, is held based on syllabus prescribed by CBSE/ ICSE and the State
                Boards.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a [routerLink]="['/olympiad/simo']">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">SIMO</h4>
              <p class="description">The Springfield International Mathematics Olympiad (SIMO), a test of competence and
                knowledge in the subject of Mathematics, is held based on syllabus prescribed by CBSE/ ICSE and the
                State
                Boards.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a [routerLink]="['/olympiad/sieo']">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title">SIEO</h4>
              <p class="description">The Springfield International English Olympiad (SIEO), a test of competence and
                knowledge in the subject of English, is held based on syllabus prescribed by CBSE/ICSE and the State
                Boards.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a [routerLink]="['/olympiad/sico']">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title">SICO</h4>
              <p class="description">The Springfield International Cyber Olympiad (SICO), a test of competence and
                knowledge in the Cyber Domain, is held based on syllabus prescribed by CBSE/ICSE and the State Boards.
              </p>
            </div>
          </a>
        </div>

      </div>

      <div class="row mt-4">
        <div class="col-md-6 col-lg-3 offset-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a routerLink="/olympiad/grads-olympiad">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">Grads Olympiad</h4>
              <p class="description">The Grads Olympiad is one of its kind Olympiad, primarily focusing on MBA
                aspirants.
                This is an online multiple-choice question based Olympiad.</p>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <a [routerLink]="['/olympiad/finance-olympiad']">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title">Finance Olympiad</h4>
              <p class="description">The Finance Olympiad is a specially curated Olympiad, made with a purpose to
                inculcate the habit and increase the knowledge of personal finances in a fun way.</p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>About <span>Springfield Olympiads</span></h3>
        <p class="fst-italic">We, at Springfield Olympiads, provide one of the best Olympiad solutions for students and
          working
          professionals and students. Springfield Olympiads is an Educational Organization popularizing academic
          competition and assisting the development of competitive spirit among learners.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
          data-aos-delay="100">
          <ul class="about-list">
            <li>
              <i class="bx bxs-school"></i>
              <div>
                <h5>Register as an Institute</h5>
                <p>Want to give a headstart to the students of your institute by providing them an exciting platform to
                  test their knowledge and skills. Then, get your Institute registered with us now!</p>
                <i class='bx bx-buildings'></i>{{registeredInstitutes}}+ Registered Institutes<br>
                <i class='bx bxs-user-check'></i>{{registeredIndividuals}}+ Registered Individuals
              </div>
            </li>
            <li>
              <i class='bx bx-support'></i>
              <div>
                <h5>Register as a Coordinator</h5>
                <p>Grab the opportunity and get a chance to work in the education sector with one of the renowned
                  education service providers with the option to work full time or part time. Work as a mediator between
                  education institutes and us and Earn a handsome amount of money by working at your convenience. Top
                  coordinators will be given to work as full-time employees with good pay.</p>
                <i class='bx bxs-user-plus'></i>{{registeredCoordinators}}+ registered Coordinators
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Testimonials Section ======= -->
  <section class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="testimonials-slider">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim
                culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial-item">
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

</main><!-- End #main -->
<app-footer></app-footer>