.services .reviewer {
    width: auto;
    font-weight: 600;
    color: #106eea;
    margin: 15px 0px 25px;
}

.reviewer span {
    background: #e7f1fd;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.services .review {
    font-size: 16px;
    font-style: italic;
    margin: 5px 0px;
    color: #8f8f8f;
    font-weight: 600;
}

.rating i {
    font-size: 22px;
    color: #106eea;
    margin: 10px 0px;
}

.filter .col {
    margin-bottom: 3rem;
}

.add-testimonial {
    display: flex;
    justify-content: flex-end;
}

.add-testimonial .btn-primary {
    padding: 10px 40px;
    margin-top: -50px;
}

@media (max-width: 450px) {
    .add-testimonial {
        justify-content: center;
    }
    .add-testimonial .btn-primary {
        margin-top: 20px;
    }
  }

span.date-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 100%;
    transform: translateX(-213px);
    width: 200px;
    height: 40px;
    background: #106eea;
    color: #fff;
    font-weight: 600;
}

.pagination {
    justify-content: center;
}

.pagination button {
    align-items: center;
    margin-right: 10px;
}