<app-header></app-header>
<app-breadcrumbs pageTitle={{pageTitle}}></app-breadcrumbs>
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Reviews</h2>
            <h3>Client <span>Testimonials</span></h3>
        </div>
        <div>
            <form [formGroup]="filterForm">
                <div class="row">
                    <div class="col-2 mb-5">
                        <label for="">Sort By:</label>
                        <select id="state" class="form-select" formControlName="sortBy">
                            <option value="rating">Rating</option>
                            <option value="reviewDate">Date</option>
                            <option value="clientName">Name</option>
                        </select>
                    </div>
                    <div class="col-1 mb-5">
                        <label for="">Order:</label>
                        <select id="state" class="form-select" formControlName="order">
                            <option value="aesc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                    <div class="col-3 offset-6 mb-5">
                        <label for="">Category:</label>
                        <select id="state" class="form-select" formControlName="category">
                            <option>SISO</option>
                            <option>SIMO</option>
                            <option>SIEO</option>
                            <option>SICO</option>
                            <option>GRADS</option>
                            <option>FINANCE</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div *ngFor="let item of testimonialsData" class="col-lg-4 col-md-6 d-flex align-items-stretch"
                data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class='bx bxs-quote-alt-left'></i></div>
                    <h4>{{item.clientName}}</h4>
                    <p class="reviewer">
                        <span><i class='bx bxs-user'></i> {{item.reviewerType}}</span>
                        <span><i class='bx bx-note'></i> {{item.reviewCategory}}</span>
                    </p>
                    <p class="reviewer-type"></p>
                    <p class="review">{{item.review}}</p>
                    <span *ngFor="let x of getNumberArray(item.rating)" class="rating"><i
                            class='bx bxs-star'></i></span>
                    <span class="date-banner">
                        <p class="date"><i class='bx bx-calendar-event'></i> {{item.reviewDate}}</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="pagination" *ngIf="testimonialsData">
            <form [formGroup]="filterForm">
                <button (click)="onPrevClick()" [disabled]="pagination<2">Prev</button>
                <button (click)="onNextClick()" [disabled]="testimonialsData.length<limit">Next</button>
            </form>
        </div>
    </div>
</section><!-- End Services Section -->
<app-footer></app-footer>