<app-header></app-header>
<app-breadcrumbs pageTitle="Thank You"></app-breadcrumbs>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <span class="success-alert"><i class='bx bx-badge-check'></i></span>
            <h3>Thank You For <span>Registering.</span></h3>
            <p>We are processing your data we'll email you once it is ready</p>
            <button class="btn btn-primary mt-3" (click)="backToDashboard()">Back To Dashboard</button>
        </div>
    </div>
</section>
<app-footer pageTitle="processing-data"></app-footer>