<app-header></app-header>
<app-breadcrumbs pageTitle={{pageTitle}}></app-breadcrumbs>
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h3>Frequently Asked <span>Questions</span></h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-10">
                <ul class="faq-list">

                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What are the benefits of taking the Olympiads? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                It helps you to:<br>
                                Increase your knowledge,<br>
                                Strengthen your Resume,<br>
                                Stay updated on the current trends,<br>
                                Preparing for your placements,<br>
                                Preparing for any other type of competitive exams,<br>
                                Enhance your knowledge and skills.<br>
                                Also, Participants receive state and national level ranking along with Prizes that include cash awards, medals, gifts, certificates etc.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Who is eligible to participate? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Any student currently studying in class 3 to 12, graduated or graduating, working professional or any competitive exam aspirant is eligible to take the exam.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the syllabus for the Olympiads? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                For students of class 3 to 12, the syllabus of the Olympiads is the same as followed by the CBSE, ICSE and various state boards.<br>
                                For Grads and Finance Olympiad, the syllabus is specific to the Exam you choose to register for. You can visit the respective olympiad pages to know more about the syllabus.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Do I get a certificate of participation? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, Certificates are provided to all the participant along with various cash prizes, medals, merit certificates to the top rankers!
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What are the resources/books I can use to prepare? <i class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                For students of class 3 to 12, no special preparation is required. All olympiads are designed in such a way that anyone can comfortably participate just by studying their school syllabus. For the finance olympiad, you'll need to be updated with personal finance trends.<br>
                                For Grads Olympiad too, no special preparation is required. It is based on reasoning, aptitude and grammar.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">What is the mode of conduction of the exam? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                All Exams are conducted completely in online mode
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">In which language the Olympiads are conducted in? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                All Exams are conducted in the English language.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Can I take part in more than 1 olympiads? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                All students currently studying in standards 3 to 12 can participate in any 1 or 2 or 3 or all the 4 olympiads:<br>
                                Springfield International Science Olympiad (SISO)<br>
                                Springfield International Mathematics Olympiad (SIMO)<br>
                                Springfield International English Olympiad (SIEO)<br>
                                Springfield International Cyber Olympiad (SICO)<br>
                                While Graduates, Undergraduates and Working Professionals can participate in any of the following two olympiads or both :<br>
                                Grads Olympiad, and<br>
                                Finance Olympiad.<br>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">On which days usually are the olympiads conducted? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq9" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                All the Exams are usually conducted on Sundays.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq10" class="collapsed question">How will I know about all the details like result declaration, etc once I register? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq10" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                You can like our page on Facebook(fb.com/sfoly) or Instagram(instagram.com/sfolym) to be in touch. <br>
                                We will also mail you for necessary updates like Result Declaration, etc.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq11" class="collapsed question">Is it necessary to have a desktop/computer to participate? <i
                                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
                        </div>
                        <div id="faq11" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                No, the exam can be taken from a mobile device as well!
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<app-footer pageTitle={{pageTitle}}></app-footer>