<app-header></app-header>
<app-breadcrumbs pageTitle="Dashboard"></app-breadcrumbs>
<section class="dashboard">
    <div class="container">
        <div class="dashboard-action">
            <button class="btn btn-primary" [routerLink]="['/register-for-exam']">Register For Exam </button>
            <button class="btn btn-danger" (click)="onLogoutButtonClick()">Logout</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">View Details</th> -->
                    <th scope="col">Order ID</th>
                    <th scope="col">Registration Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Payment Mode</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of instituteExamDatatObject; index as i">
                    <th scope="row">{{i+1}}</th>
                    <!-- <td><a (click)="viewIndividualDetail()">View Details</a></td> -->
                    <td>{{item.orderId.toUpperCase()}}</td>
                    <td>{{item.registrationDate}}</td>
                    <td>{{item.amount/100}}₹</td>
                    <td>{{item.paymentStatus.toUpperCase()}}</td>
                    <td>{{item.paymentMode.toUpperCase()}}</td>
                    <td>
                        <a [routerLink]="['/individual-details/'+item.srNo]" class="btn btn-primary me-2">View</a>
                        <button class="btn btn-primary" [disabled]="item.paymentStatus == 'paid'" (click)="initPayment(item.amount, item.orderId, instituteEmail, onPaymentSuccess)">Pay</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<app-footer pageTitle="institute-dashboard"></app-footer>