<app-header></app-header>
<app-breadcrumbs pageTitle="Schedule"></app-breadcrumbs>
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Olympiad Schedule</h2>
            <h3>Schedule For Session <span>2021-22</span></h3>
        </div>
        <div class="row">
            <div *ngFor="let item of olympiadSchedule" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx {{item.icon}}"></i></div>
                    <h4><a href="">{{item.olympiad}} ({{item.olympiadShortName}})</a></h4>
                    <p>{{item.details}}</p>
                    <span class="date-banner">
                        <p class="date"><i class='bx bx-calendar-event' ></i> {{item.date}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>