<app-header></app-header>
<app-breadcrumbs pageTitle="Forgot Password"></app-breadcrumbs>
<section id="student-form" class="form">
    <div class="container">
        <div class="section-title">
            <h2>Form</h2>
            <h3>Reset Password <span>Form</span></h3>
        </div>
        <div *ngIf="successAlert" class="alert alert-success" role="alert">
            Your Has Been Changed Successfully
        </div>
        <div *ngIf="errorAlert" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
        <form class="row g-3" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit()">
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <small class="text-danger" *ngIf="!password?.valid && password?.touched">Please Enter Valid Email Address</small>
            </div>
            <div class="col-12">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                <small class="text-danger" *ngIf="!confirmPassword?.valid && confirmPassword?.touched">Please Enter Valid Email Address</small>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </div>
        </form>
    </div>
</section>
<app-footer pageTitle="Forgot-Password"></app-footer>